<h1><%= @feed.title %></h1>
<div class="card">
<ul>
  <% @entries.each do |entry| %>
    <li>
      <a href="<%= entry.url %>" target="_blank"><%= entry.title %></a>
    </li>
  <% end %>
</ul>
</div>