<h1>Resumeparser</h1>

<%= form_with url: resumeparser_index_path, method: :post, local: true, html: { multipart: true } do |form| %>
  <div>
    <%= form.label :file, "Choose a file to upload:" %>
    <%= form.file_field :file %>
  </div>
  <div>
    <%= form.submit "Upload" %>
  </div>
<% end %>