<h3> Project Ideas </h3>

<div id="portfolio">
  <table>
  <thead>
      <tr>
          <th>Name</th>
          <th>Problem Statement</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Document AI</td>
          <td>This is a mature problem. There are some important documents that are stored somewhere. We want to extract the information that will be used downstream. KYC is an important part of the business. Doing it quickly and accurately is the key to being compliant with rules and regulations.
          </td>
      </tr>
      <tr>
          <td>Personal Image Generator</td>
          <td>People like to take pictures of themselves. Moreover, they like to enhance these images using tools like photoshop and filters. Gen AI brings this to a whole new level. With an image generator, they can see themselves surfing, paragliding, riding horses or unicorns. A software will need to have high quality to be usable.
          </td>
      </tr>
      <tr>
        <td>Video Dubbing</td>
        <td>People want to consume foreign content in their native language. More and more this content is user generated with a very low budget through youtube channels and other regional platforms. 

        Influencers want to reach foreign audiences to gain more audiences. But language becomes a barrier. AI can help solve it.        
        </td>
    </tr>
    <tr>
      <td> Gen AI Lasso Tool</td>
      <td>This tool allows a user to crop an object by drawing a circle around the object. This would be used to edit unwanted objects while retaining the background. Similar setup could be leveraged to 

      <ul>
        <li>Remove the background image</li>
        <li>Change the background image to something else</li>
        <li>Remove people in the photos</li>
        <li>Apply inpainting to the selected region</li>
      </ul>      
      </td>
    </tr>
    <tr>
      <td> Daily Personal Assistant</td>
      <td> To execute a big project, it needs to be broken down into smaller tasks. These smaller tasks then can be executed easily. Design a TO-DO list which get updated via a chat interface. The user can talk to CRUD a task into this list.
      </td>
    </tr>
    <tr>
    <td> Job Resume Matching</td>
    <td>This will be an assistant to the recruiter. A recruiter has a bunch of candidate profile already made and also they have a list of jobs that they need to fill. For each job, we need to provide the best matching candidates. For each candidate, we need to provide the best matching jobs. 
    </td>
  </tr>
  </tbody>
  </table>
</div>

<h3> Completed projects </h3>
<ul>
  <li> Resume Parser </li>
</ul>
