.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tag {
  border: 1px solid antiquewhite;
  border-radius: 0.5rem;
  background-color: #3b320d;
  padding: 0rem 0.5rem 0.2rem 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
