/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    background-color: rgb(17, 24, 39);
    color: antiquewhite;
    margin: 0 auto;
    max-width: 1200px;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
.navlinks > a {
    padding: 0 12px;
}

ul {
  list-style: none;
}
.link {
  margin: 12px auto;
}

a {
    /* text-decoration: None; */
    color: antiquewhite;
}

/* https://www.svgrepo.com/svg/401857/girl-medium-skin-tone */

.logo-image {
    width: 30px;
}

.metadata {
    span {
      margin: 0 4px;
      border-right: 1px solid antiquewhite;
      
      &:first-child {
        margin: 0;
      }
      
      &:last-child {
        border: 0;
      }
    }
  }

.comment {
    margin: 12px auto;
    border-bottom: 1px solid #f5f5f5;
}

input, button {
    background-color: rgb(17, 24, 39);
    color: antiquewhite;
    border: 2px solid antiquewhite;
    border-radius: 3px;
}

.form-group {
    margin-bottom: 1rem;
}